.c, .ruby, .css, .button2{
  display: none;
  margin-bottom: 0;
}

.container {
  background-color: grey;
  border: solid black 3px;
}

.row {
  text-align: center;
}

.main {
  background-color: #4286f4;
  border: solid black 2px;
}

.col-md-4 {
  text-align: center;
}

.button1 {
  margin-top: 3%;
  background-color: black;
  padding: 1%;
  width: 100%;
  margin-left: 0;
}

.col-md-12 {
  background-color: black;
  padding: 1%;
}

select {
  width: 50%;
}
